<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <style type="text/css">
        .m15 {
            margin: 15px;
        }

        .tc {
            text-align: center;
            font-size: 18px;
            font-weight: 600
        }
    </style>
</head>
<body>
<div class="container">
    <%- message %>
    <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post"
    onsubmit="return false"><!--onsubmit="return false" 防止默认提交
    ，然后在输入信息正确的情况下，通过ajax,把表单信息post到路径/register-->
        <fieldset><!--查看下这是什么意思-->
            <legend></legend><!--查看下这是什么意思-->
            <!--表头-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="tc">注册信息</p>
                </div>
                <div class="panel-body m15">
                    <div class="form-group">
                        <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                            <input type="text" class="form-control" id="password1" name="password1"
                                   placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                            <input type="text" class="form-control" id="password2" name="password2"
                                   placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block"
                                id="register">注册
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info col-sm-2 col-sm-offset-10"
                                id="login">登录
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#login').click(function () {
            location.href='login';
        });
        $('#register').click(function () {
            let username = $('#username').val();
            let password1 = $('#password1').val();
            let password2 = $('#password2').val();
            if (password1!==password2){
                $('#password1').css('border','1px solid red');
                $('#password2').css('border','1px solid red');
            } else if (password1===password2){
                var data ={"uname":username,"upwd":password1};
                $.ajax({
                    url:'/register',
                    type:'post',
                    data:data,
                    success:function (data,status) {
                        if (status=='success'){
                            location.href='login';
                        }
                    },
                    error:function (data,err) {
                        location.href='register'
                    }
                })
            }
        })
    })

</script>
</html>